doctype html
html(lang='en')
  head
    title Chatweb Logout
    link(rel='stylesheet', href='/public/css/bootstrap.css')
    script(src='http://code.jquery.com/jquery-1.10.2.js')
    script(src='/public/js/bootstrap.js')
  body
    .container
      .row.jumbotron.text-center
        p Thanks for using
        h1 ChatWeb
        p(align='right')
          a(href='/login') Click here 
          | to login again
